{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Career Guidance</title>
</head>

<body>
    <div class="main">
        <div class="content1">
            <span class="content_1"> Intelligent Career Guidance System <br></span>
        </div>
        <div class="content2">
            <span class="content_2">Discover Yourself <br> Take the test to land Perfect Job Of your INTEREST
            </span>
        </div>
        <div class="btn">
            <a href="input">
            <input type="button" value="Get Started !" id="start" class="start"></a>
        </div>
    </div>
</body>
</script>

</html>